<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataFilesDirectory" value="C:/Users/Calvin/Documents/VMAT/VMAT/BackendVMWare"/>
  </appSettings>
  <connectionStrings>
    <add name="DataFilesDirectory" connectionString="C:/Users/Calvin/Documents/VMAT/VMAT/BackendVMWare"/>
  </connectionStrings>
</configuration>