<?xml version="1.0"?>
<job>
    <job-detail>
        <name>MyJob</name>
        <group>MyJobs</group>
        <description>Logs a message to the application log</description>
        <job-type>PlanetCloud.Commerce.Extensions.MyJob, PlanetCloud.Commerce.Extensions</job-type>
        <volatile>false</volatile>
        <durable>true</durable>
        <recover>false</recover>
        <job-data-map>
            <entry>
                <key>MessageToLog</key>
                <value>Hello from MyJob</value>
            </entry>
        </job-data-map>
    </job-detail>
    <trigger>
        <cron>
            <name>MyJobTrigger</name>
            <group>MyJobs</group>
            <description>A description</description>
            <job-name>MyJob</job-name>
            <job-group>MyJobs</job-group>
            <cron-expression>0 0/1 * * * ?</cron-expression>
        </cron>
    </trigger>
</job>