@{
    ViewBag.Title = "Success";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Successfully completed all scheduled tasks.
    </div>
</body>
</html>
