@model IEnumerable<VMAT.Models.Organization>

@{
    ViewBag.Title = "About";
}

<div class="padded">
    <h2 id="about-created-by">Created By</h2>
    <ol class="created-by">
        @foreach (var org in Model)
        {
            <li>
                <img src='@Url.Content("~/Content/themes/images/" + org.LogoFile)' alt="@org.Name" class="org-logo" />
                <ul>
                    @foreach (var author in org.Authors)
                    {
                        <li>@author</li>
                    }
                </ul>
            </li>
        }
    </ol>
</div>
