@{
    ViewBag.Title = "Help";
}
<div class="padded">
    <div class="page">
        <h1>Server List</h1>
        <p>The Server List Page is where you can view the curernt status of Virtual Machines
        managed by VMAT.</p>
        <ul class="indented">
            <li>
                <h2>Server Status Button</h2>
                <img src="/VMAT/Content/themes/images/icon_loading.gif" alt="Server Status Button" />
                <p>The Server Status Button shows the current status of the VM; it's green if running,
                red if not running. When a VM is turning on or shutting down, the button turns yellow
                with a question mark. </p>
            </li>
            <li>
                <h2>Server Parameters</h2>
                <img src="" alt="Server Parameters" />
                <p>Here is a list of all the information about the VMs that is tracked by VMAT.
                </p>
            </li>
            <li>
                <h2>Archive VM Button</h2>
                <img src="/VMAT/Content/themes/images/icon_archive-vm.jpg" alt="Archive VM Button" />
                <p>It is now possible to archive a single VM from within a project by clicking the
                button at the far right of the VM! </p>
            </li>
            <li>
                <h2>Close Project Button</h2>
                <img src="/VMAT/Content/themes/images/icon_project-complete.png" alt="Close Project Button" />
                <p>The Close Project Button allows allows all of the virtual machines in that project
                to be collapsed down, with the option of archiving all of the machines in that project
                also.</p>
            </li>
        </ul>
    </div>
    <div class="page">
        <h1>Create Page</h1>
        In the create page you may specify the machine name suffix, the ip address, and
        the base image that you wish to use as a template for creating the new VM. Notice
        that the details of creation are displayed before your very eyes before you commit
        to creating!
    </div>
    <div class="page">
        <h1>Edit Page</h1>
        The Edit Page allows you to change any of the parameters about a VM that you had
        control over in the Create Page. A VM must be running in order to edit these parameters.
    </div>
    <div class="page">
        <h1>Administration Page</h1>
        The administration page allows you to set various parameters common to all machines
        such as:
        <ul class="dotted">
            <li>Maxmimum number of VMs that can be created and managed by VMAT (meant as a DoS prevention
                for hard disk space)</li>
            <li>IP address pool that VMAT uses to choose a suggested ip address for creating a new
                VM.</li>
            <li>Default datetimes associated with machines </li>
        </ul>
        <div class="page">
            <h1>Troubleshooting</h1>
            <p>If you are having difficulties using this product or are receiving errors from
            the application, please first run the @Html.ActionLink("config checker", "Check", "Configuration")
            email: </p>
            <p>mlynarcs@rose-hulman.edu</p>
        </div>
    </div>
