@{
    ViewBag.Title = "Help";
}

<div class="padded">
    <h1>Server List</h1>

    <p> The Server List Page is where you can view the curernt status of Virtual Machines managed by VMAT.</p>

    <h2>Server Status Button</h2>
    <img src="" alt="Server Status Button" />
    The Server Status Button shows the current status of the VM; it's green if running, red if not running. When a VM is turning on or shutting down, the button turns yellow with a question mark.
    <p>
    <h2>Server Parameters</h2>
    <img src="" alt="Server Parameters" />
    Here is a list of all the information about the VMs that is tracked by VMAT.
    <p>
    <h2>Close Project Button</h2>
    <img src="" alt="Close Project Button" />
    The Close Project Button allows allows all of the virtual machines in that project to be collapsed down, with the option of archiving all of the machines in that project also.
    <p>
    <h1>Create Page</h1>
    In the create page you may specify the machine name suffix, the ip address, and the base image that you wish to use as a template for creating the new VM. Notice that the details of creation are displayed before your very eyes before you commit to creating!
    <p>
    <p>
    <h1>Edit Page</h1>
    The Edit Page allows you to change any of the parameters about a VM that you had control over in the Create Page. A VM must be running in order to edit these parameters.
    <p>
    <h1>Administration Page</h1>
    The administration page allows you to set various parameters common to all machines such as:
    <ul>
    <li>Maxmimum number of VMs that can be created and managed by VMAT (meant as a DoS prevention for hard disk space)</li>
    <li>IP address pool that VMAT uses to choose a suggested ip address for creating a new VM.</li>
    <li>Default datetimes associated with machines </li>
    </ul>
    
    <h1>Troubleshooting</h1>
    <p>If you are having difficulties using this product or are receiving errors from the application, please email: </p>
    <p>mlynarcs@rose-hulman.edu</p>
</div>