<div id="popup">
    <div id="popup-header">
        <h2></h2>
        <button type="button" class="cancel">
            <img src="@Url.Content("~/Content/themes/images/icon_close-window.png")" alt="Close" />
        </button>
    </div>
    <div id="popup-content"></div>
</div>

<div id="popup-background"></div>
