@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="error">An error occurred while processing your request.</h2>
<h3 class="error">@Html.Display("Error")</h3>
<p>@Html.Display("Data")</p>
