@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="error">An error occurred while processing your request.</h2>
@*<h3 class="error">@Model.Exception</h3>
<p>@Model.ControllerName / @Model.ActionName</p>*@
