<div id="project-complete-form" class="popup-content-panel">
@using (Html.BeginForm())
{
    <ul>
        <li>
            <button type="submit" class="archive">
                <span class="icon">
                    <img src="@Url.Content("/Content/themes/images/icon_server-admin.png")" alt="+" />
                </span>
                Archive
            </button>
        </li>
        <li>
            <button type="submit" class="delete">
                <span class="icon">
                    <img src="@Url.Content("/Content/themes/images/icon_project-complete.png")" alt="X" />
                </span>
                Delete
            </button>
        </li>
    </ul>
}
</div>
