<script type="text/javascript" src="@Url.Content("~/Scripts/closeProject.js")"></script>

<div id="project-close-form" class="popup-content-panel">
    @using (Html.BeginForm())
    {
        <ul>
            <li>
                <button type="button" class="archive">
                    <img src="@Url.Content("~/Content/themes/images/icon_server-admin.png")" alt="+" />
                    Archive
                </button>
            </li>
            <li>
                <button type="button" class="delete">
                    <img src="@Url.Content("~/Content/themes/images/icon_project-complete.png")" alt="X" />
                    Delete
                </button>
            </li>
        </ul>
    }
</div>
